#block_container
{
    text-align:left;
}

#form
{
    text-align: left;
    width: auto;
}
#select
{
    display: inline-block;
}

#select_1,#select_2,#select_3,#select_4,#select_5,#select_6,#select_7,#select_8,#select_9,#select_10
{
    display: inline-block;
}

.choice
{
	margin-left: 1%;
	margin-top: 1%;
	border: 5px solid #c17830;
	width: 30%;
	float: left;
}

.choice .range
{
	float: left;
}

.choice select 
{
	width: 80%;
}

#container
{
	border: 1px solid black;
	/*width: 100%;
	height: 100%;*/
	margin: auto;
	align-content: center;
}

#runContainer
{
	border: 5px solid black;
	width: 30%;
	display: inline-block;
	margin-top: 1%;
	margin-right: 50%;
	margin-left: 30%;
}

#runContainer h3
{
	float: left;
	margin-left: 3%;
}

#runContainer input
{
	float: left;
	width: 25%;
	margin-top: 7%;
	margin-left: 3%;
}

#runContainer input[type="button"]
{
	background-color: #93AAFEFF;
	color: "black";
}

